@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
header {
  float: left;
  position: fixed;
}
header ul {
  padding: 0;
  list-style: none;
}
header li {
  float: left;
}
header h1 {
  font-size: 30px;
  white-space: nowrap;
}
header h1 a {
  font-weight: bold;
  color: #333;
}
header p {
  line-height: 1.3;
}
ul.social li {
  width: 36px;
}
ul.social a {
  color: #222;
  font-size: 1.6em;
}
ul.social a:hover {
  color: #39c;
  transition: color 0.2s ease-in-out;
}
@media print, screen and (max-width: 966px) {
  header small {
    display: inline;
  }
  header ul {
    position: absolute;
    right: 50px;
    top: 60px;
  }
  header p.bio {
    display: none;
  }
}
@media print, screen and (max-width: 480px) {
  header ul.social {
    display: none;
  }
  header .nav {
    position: absolute;
    top: 19px;
    right: 16px;
  }
}
@media print, screen and (max-width: 966px) {
  ul.social {
    position: absolute;
    top: 14px;
    right: 39px;
    padding-left: 10px;
  }
}
@media (min-width: 967px) {
  header .nav {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  header .nav a {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Helvetica Neue", sans-serif;
    border-radius: 4px;
    padding: 7px 12px;
    border: 2px solid #cccccc;
  }
}
.index-menu {
  font-family: Lato;
  line-height: 1.2em;
}
.index-menu li {
  margin-bottom: 30px;
}
.index-menu small {
  padding: 8px 0;
  color: #999;
}
.index-menu .post-title {
  display: block;
  font-size: 26px;
  margin-bottom: 8px;
  line-height: 1em;
}
.index-menu .post-subtitle {
  display: inline-block;
  margin-bottom: 10px;
  color: #777;
  position: relative;
  left: 1px;
}
.index-menu .post-index-link {
  display: block;
}
.tag-label {
  font-size: 10px;
  border-radius: 3px;
  padding: 2px 6px;
  border: 2px solid #dddddd;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: -1px;
  color: #666666;
}
.tag-label:first-child {
  margin-left: 5px;
}
@media print, screen and (max-width: 480px) {
  .tag-label {
    display: none;
  }
}
/* Micro clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
body {
  padding: 50px;
  font-family: Georgia, serif;
  color: #555555;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 16px;
  margin: 0;
  border-top: 3px solid #5cadd6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  margin: 0 0 20px;
  font-family: Lato, "Helvetica Neue", sans-serif;
}
h1,
h2,
h3 {
  line-height: 1.1;
}
h1,
h2 {
  font-size: 40px;
}
@media (min-width: 967px) {
  h1.no-subheading {
    margin-bottom: 40px;
  }
}
p,
ul,
ol,
table,
pre,
dl,
.fluid-width-video-wrapper {
  margin: 0 0 20px;
}
a {
  color: #3399cc;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #006699;
}
a small {
  margin-top: -0.6em;
  display: block;
  color: #222;
}
small,
a small {
  font-size: 14px;
}
blockquote {
  border-left: 2px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}
blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
}
code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 14px;
}
pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}
th {
  color: #444;
}
dt {
  color: #444;
  font-weight: 700;
}
img {
  max-width: 100%;
}
strong {
  color: #444;
  font-weight: 700;
}
hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}
section {
  float: right;
  padding-bottom: 50px;
}
.post {
  margin-top: 40px;
}
ul.nav .sep {
  padding: 0 6px;
  color: #ccc;
  font-style: normal;
}
/* Better inline code styling */
p code,
ul code {
  border: 1px solid #e1e1e1;
  padding: 1px 4px;
  border-radius: 4px;
}
ul.social,
ul.index-menu {
  padding: 0;
  list-style: none;
}
.post h3 {
  padding-top: 25px;
}
h3,
h3 code {
  font-size: 24px;
}
h3 code {
  font-weight: normal;
  color: #777;
  padding: 0 3px;
}
blockquote code {
  font-style: normal;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
header,
footer {
  width: 230px;
}
section {
  width: 100%;
  padding-left: 260px;
  box-sizing: border-box;
}
.page-subtitle {
  margin-bottom: 4px;
  font-size: 20px;
}
.meta {
  font-size: 16px;
}
@media print, screen and (max-width: 966px) {
  .wrapper {
    width: auto;
    margin: 0;
  }
  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }
  section {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    margin: 0 0 20px;
  }
}
@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
  /* Smaller headings when mobile */
  h1,
  h2 {
    font-size: 34px;
  }
  header h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .post-title {
    font-size: 22px;
  }
  /* Center headings when mobile */
  .page-title,
  .page-subtitle,
  .meta {
    text-align: center;
  }
}
@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
  }
}
/* Minimal scrollbars for code-samples on Webkit */
pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
pre::-webkit-scrollbar-track-piece {
  background-color: #eee;
  -webkit-border-radius: 0px;
  border-top: 1px solid #e5e5e5;
}
pre::-webkit-scrollbar-thumb:vertical {
  height: 8px;
  background-color: #ddd;
  -webkit-border-radius: 0px;
}
pre::-webkit-scrollbar-thumb:horizontal {
  width: 8px;
  background-color: #ddd;
  -webkit-border-radius: 0px;
}
