# Site Info
title:              "Chris Emmery"
description:        "Academic Blog."

# Author Info
author_name:        "Chris Emmery"
author_gravatar:    8920c4869ea592a7bfbe49caa8cba6e8 # Gravatar md5 hash
twitter_username:   _cmry

# Site Settings
baseurl:            "" # Base URL must end WITHOUT a slash, default: ""
permalink:          /notes/:title # Post permalink
timezone:           Europe/Amsterdam # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# Site Build
markdown:           kramdown
kramdown:
    input:          GFM
    math_engine:    mathjax
sass:
    style:          :compressed

# Other Params
include:            [ "robots.txt", "pages" ]
exclude:            [ "LICENSE", "README.md", "CNAME", "vendor", "Gemfile" ]
gems:
  - jekyll-sitemap

compress_html:
    clippings:      all
    ingore:
        envs:       [ "test" ]

defaults:
  -
    scope:
      path:         ""
    values:
      layout:       "null"
  -
    scope:
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      type:         "posts"
    values:
      layout:       "post"

links:
  - name:         fa fa-graduation-cap
    alias:        publ
    url:          /publ
  - name:         fa fa-code
    alias:        code
    url:          /code
  - name:         fa fa-tasks
    alias:        work
    url:          /work
  - name:         fa fa-user-circle
    alias:        about
    url:          /about
  - name:         fab fa-twitter
    url:          https://twitter.com/_cmry
  - name:         fab fa-github
    url:          https://github.com/cmry
  - name:         fa fa-stroopwafel
    url:          /contact
