@import url(//fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

body {
  background: #fcfcfa;
  color: #333;
  font-family: "PT Sans";
  padding: 20px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  @media (min-width: 992px) {
    padding: 35px 50px;
  }
  overflow-y: scroll;
}
h2 {
  font-size: 1.4em;
  margin: 2em 0 0 -28px;
  &:before {
    color: #ccc;
    content: "# ";
    padding-right: 5px;
  }
}
h3 {
  font-size: 1.2em;
  margin: 2em 0 0 -41px;
  &:before {
    color: #ccc;
    content: "## ";
    padding-right: 5px;
  }
}
h4 {
  font-size: 1.1em;
  margin: 45px 0 25px;
}
h5 {
  font-size: 1.1em;
  margin: 45px 0 25px;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #000;
  &.image {
    display: block;
    text-align: center;
    border: 0;
    border-radius: 5px;
    margin: 30px 0;
  }
}
mark {
  background: #fffc76;
  padding: 0 5px;
}
blockquote {
  color: #666;
  font-size: 0.85em;
  font-family: "PT Sans", sans-serif;
  border-left: 2px solid #666;
  padding-left: 18px;
  margin: 1em 0 1em -20px;
  background: #fcfcfa;
}
span[data-note] {
  font-size: 0.8em;
  background: #c1c1c1;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  padding: 0 12px;
  vertical-align: middle;
  line-height: 18px;
  cursor: pointer;
  margin: 0 2px;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -webkit-user-select: none;
  &.open {
    background: #838383;
  }
  @media (min-width: 768px) {
    vertical-align: 1px;
  }
  @media (min-width: 992px) {&:hover {
      background: #838383;
    }
  }
}
.note {
  background: #f8f8f8;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px rgba( 0, 0, 0, 0.2 );
  padding: 20px 20px 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  transform: translateY( calc( 100% + 8px ) );
  -webkit-transform: translateY( calc( 100% + 8px ) );
  font-size: 14px;
  line-height: 1.7em;
  &.shown {
    transform: translateY( 0 );
    -webkit-transform: translateY( 0 );
  }
  @media (min-width: 768px) {
    right: 40px;
    padding-bottom: 20px;
    max-width: 400px;
    left: auto;
    bottom: 40px;
    transition-property: opacity, transform;
    -webkit-transition-property: opacity, transform;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    opacity: 0;
    transform: scale( 0.1 ) translateZ( 0 );
    -webkit-transform: scale( 0.1 ) translateZ( 0 );
    &.shown {
      transform: scale( 1 ) translateZ( 0 );
      -webkit-transform: scale( 1 ) translateZ( 0 );
      opacity: 1;
    }
  }
}
.logo {
  max-width: 720px;
  margin: 0 auto 45px;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: bounce;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: bounce;
  .links {
    padding-bottom: 1.5em;
  }
  a {
    text-decoration: none;
    text-align: center;
    border-bottom:none;
  }
  a.active {
    border-bottom: 1px dotted #000;
  }
  a.codl {
    border-bottom: 1px dotted #000;
    font-size: 1em;
  }
  nav {
    text-align: center;
    margin-top: 10px;
    margin: 0 auto;
  }
  a.face {
    font-weight: 700;
    height: 100px;
    width: 100px;
    font-size: 1.5em;
    border-radius: 100%;
    line-height: 100px;
    display: inline-block;
    background: #ddd url("gravatar_wrapper.png");
    border: 2px solid #333;
    box-sizing: border-box;
    margin-bottom: 20px;
    &:hover + .logo-prompt,
    &:focus + .logo-prompt {
      display: inline-block !important;
    }
    .gravatar {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    @media (max-width : 480px) {&:hover + .logo-prompt,
      &:focus + .logo-prompt {
        display: none !important;
      }
    }
  }
  .logo-prompt {
    position: absolute;
    display: none;
    vertical-align: middle;
    padding: 5px;
    border-radius: 3px;
    background: #666;
    background: rgba(0,0,0,.5);
    margin-left: 15px;
    color: #fff;
    font-size: 0.8235em;
    text-align: center;
    line-height: 1.2;
    top: 50%;
    margin-top: -25px;
    &:before {
      content: "";
      border-width: 5px 5px 5px 0;
      border-style: solid;
      border-color: transparent #666;
      border-color: transparent rgba(0,0,0,.5);
      position: absolute;
      top: 50%;
      left: -5px;
      margin-top: -5px;
    }
  }
  .style {
    font-size: 0.8em;
    padding: 10px 10px 10px 0;
    text-align: center;
  }
}
iframe {
  margin: 45px 0 !important;
}
ul {
  margin: 40px 0;
  padding-left: 0px;
  li {
    word-wrap: break-word;
  }
  img {
    margin: 40px 0;
    border-radius: 5px;
  }
}
ol {
  margin: 40px 0;
  padding-left: 0.68em;
  border-left: 2px dotted #ccc;
  list-style: disc;
  li {
    word-wrap: break-word;
    padding-top: 3px;
  }
  img {
    margin: 40px 0;
    border-radius: 5px;
  }
}
sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  margin-left: 1px;
}
time {
  font-size: 0.65em;
  color: #666;
}
code,
pre {
  font-family: "DejaVu Sans Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
code {
  color: #D19A66;
  background: #fcfcfa;
  padding: 2px 2px;
  font-size: 0.9em;
}
pre {
  display: block;
  font-size: 0.7rem;
  line-height: 1.4;
  white-space: pre;
  overflow-x: auto;
  background-color: #fcfcfa;
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
  code {
    font-size: 1em;
    color: inherit;
    background-color: transparent;
    padding: 0;
  }
}
table {
  width: 100%;
  table-layout: auto;
  margin: 45px 0;
  font-size: 0.7em;
  th {
    text-align: left;
    padding: 8px 10px;
  }
  td {
    padding: 4px 0;
  }
}
iframe {
  width: 100%;
}
article {
  max-width: 720px;
  margin: 0 auto;
  .title {
    line-height: 1.4em;
    text-align: center;
  }
  .divider {
    height: 1px;
    margin: 1em 0;
  }
  .center {
    text-align: center;
    margin: 0 auto;
  }
  hr {
    border: 0;
    border-bottom: 1px solid #000;
    margin: 30px 0;
  }
  p {
    font-family: "PT Serif";
    font-size: 0.9em;
    line-height: 1.5em;
    overflow-wrap: break-word;
  }
  blockquote {
    p {
      font-family: "PT Sans";
    }
  }
  .footnote {
    border: 0;
  }
  .footnotes {
    margin: 40px 0;
    display: none;
    .reversefootnote {
      border: 0;
    }
  }
}
.back {
  text-align: center;
  a {
    font-size: 1em;
    text-decoration: none;
    margin: 40px auto 0;
    display: inline-block;
    padding: 10px;
    border: 0;
    &:before {
      content: "←";
      margin-right: 5px;
    }
  }
}
section {
  max-width: 720px;
  margin: 0 auto;
  font-size: 0.9em;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-top: 1em;
      .title {
        font-size: 1em !important;
        max-width: 100%;
        font-weight: 300;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        word-wrap: normal !important;
      }
      a {
        text-decoration: none;
        border: 0;
        color: #333;
        box-sizing: border-box;
      }
      .image {
        display: inline;
        img {
          margin: 0;
          margin-left: auto;
          margin-right: auto;
          display: block;
          height: 10em;
          padding-top: 1em;
        }
        margin: 15px 0px 10px 0px;
      }
      .post-date {
        float: right;
        margin: 0 0 0 20px;
      }
      span {
        font-size: 1em;
        display: inline-block;
        color: #757575;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      @media (min-width: 992px) {a {
          border-bottom: 2px solid transparent;
          &:hover {
            border-color: #000;
          }
        }
      }
    }
  }
}
@keyframes bounce {0% {
    transform: translate3d( 0, -1000px, 0 );
  }
  60% {
    transform: translate3d( 0, 25px, 0 );
  }
  75% {
    transform: translate3d( 0, -10px, 0 );
  }
  90% {
    transform: translate3d( 0, 5px, 0 );
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes bounce {0% {
    -webkit-transform: translate3d( 0, -1000px, 0 );
  }
  60% {
    -webkit-transform: translate3d( 0, 25px, 0 );
  }
  75% {
    -webkit-transform: translate3d( 0, -10px, 0 );
  }
  90% {
    -webkit-transform: translate3d( 0, 5px, 0 );
  }
  100% {
    -webkit-transform: none;
  }
}
@media screen and (min-width: 32em) { html { font-size: 16px; }
  h1, .h1 {
    font-family: "PT Serif";
    font-size: 2.6rem;
    margin-bottom: 0.25em;
  }
  .logo a { font-size: 0.8rem; }
  .logo { font-size: 0.9rem; } }
@media screen and (min-width: 48em) { html { font-size: 18px; } }
@media screen and (min-width: 64em) { html { font-size: 20px; } }
@media screen and (min-width: 78em) { em img { max-width: 56rem; margin-left: -7em; } }

.MathJax_Display {
    font-size: 0.9em;
}
