@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

body {
  /* font-family: Helvetica, Arial, sans-serif*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #DAE3E7;
  color: #343434;
  line-height: 1.6em;
  padding: 20px 10px
}

a {
  color: #199ab7;
  font-weight: 400
  }

b, strong, h1, h2, h3, h4, h5 {
  font-weight: 600
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin: 20px 0;
  height: 6px
}

.wrapper {
  max-width: 720px;
  width: 100%;
  margin: auto
}

.site-footer {
  text-align: center;
  padding: 25px
}

.site-header {
  font-weight: bold;
  font-size:12px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: right
}
  
.site-header .site-title {
  float: left;
  color: #676767;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  font-weight: bold
}
    
.site-header .site-title:hover {
  color: #13b1d5
}
      
.site-header .site-title:hover .block {
  background-color: #199ab7;
}
      
.site-header .site-title:hover .lastname {
  opacity: .7;
  color: #13b1d5;
}
    
.site-header .site-title .block {
  display: inline-block;
  width: 30px;
  height: 9px;
  margin-top: 1px;
  background-color: #ddd;
  margin-right: 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.site-header .site-title .firstname {
  margin-right: 5px;
}

.site-header .site-title .lastname {
  opacity: .4;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.posts {
  text-align: center;
  font-size: 0;
}

.posts .post-link {
  color: inherit;
  font-size: 16px;
  display: block;
  text-align: left;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 25px;
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.posts .post-link.has-cover {
  padding-right: 185px
}

.posts .post-link .post-cover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  width: 160px;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: 50% 50%;
  border: 10px solid #fff;
  height: 100%;
  opacity: .3
}

.posts .post-link .post-title {
  margin: 0 0 5px
}

.posts .post-link .meta {
  opacity: .4;
  font-size: 12px
}

.posts .post-link .excerpt {
  color: #333;
  margin: 20px 0 0;
  max-height: 100px;
  overflow: hidden;
  font-weight: 300
}

.posts .post-link .mark {
  opacity: 0
}

.posts .post-link:hover {
  border: 1px solid #eee;
  box-shadow: 0 0 25px #eee
}

.posts .post-link:hover .mark {
  opacity: 1
}

.posts .post-link:hover .post-cover {
  opacity: .6
}

.mark {
  position: absolute;
  left: 10px;
  top: 10px;
  border: 5px solid #eee;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s
}

article {
  padding: 25px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  line-height: 1.6em;
  position: relative
}

article hr {
  border-color: #efefef
}

article p {
  text-align: justify;
  text-justify: inter-word;
  margin: 0.6em 0
}

article header {
  margin-bottom: 30px
}

article header .post-title {
  font-weight: 600;
  margin: 0
}

article .signoff {
  margin-top: 30px;
  color: #777
}

article * {
  max-width: 100%
}

article img:not([height]) {
  margin: 10px 0;
  width: 100%;
  border-radius: 4px
}

article blockquote {
  font-style: normal;
  margin: 20px -30px 20px -30px;
  width: auto;
  display: block;
  padding: 5px 25px 5px 20px;
  border-left: 10px solid #e0e9ed;
  background-color: #E0E9ED;
  box-shadow: -5px 0 0 white,  -5px 5px 0 white,  -5px -5px 0 white, 0px 0px 0px 5px white;
  max-width: 110% 
}

article blockquote p:first-child, article blockquote p:last-child {
  margin: 0
}

article ul, article ol {
  margin: 20px 0 20px 20px;
}

.pagination {
  margin-top: 25px;
  padding: 25px
}

.pagination .tip {
  padding-bottom: 20px
}

.pagination .small-title, .pagination .tip {
  font-size: 14px;
  color: #888
}

.pagination h4 {
  margin: 5px 0
}

.plain {
  background-color: transparent;
  border: 0;
  margin: 40px auto 30px;
  text-align: left;
  color: #999;
  display: inline-block
}
