<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/prism.custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      /* These styles are inlined so if `prism.custom.css` is regenerated, these overrides are kept intact */
      pre[data-line] { padding: 1.1em 0 1.1em 1.2em }
      :not(pre) > code[class*="language-"], pre[class*="language-"] { background: #f8f8f8; margin-bottom: 20px }
      code[class*="language-"], pre[class*="language-"] { line-height: 1.3em }
    </style>

    <!-- IE6/7 - `overflow: auto` works, but `scroll` saves worrying about inconsistent bottom-padding -->
    <!--[if lt IE 8]>
    <style> pre { position: relative; width: 650px; overflow-x: scroll } </style>
    <![endif]-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
  </head>

  <body>
    <div class="wrapper">
      <header>       
        <h1><a href="/">{{ site.name }}</a></h1>
        
        <p class="bio">{{ site.tagline }}</p>
        <p class="bio">{{ site.location }}</p>

        <ul class="nav cf">
          <li><a href="/">Archive</a>
          <!-- Uncomment to link to some other page, e.g. your resume -->
          <!--<i class="sep">//</i>
          <li><a href="/resume.html">Resume</a>-->
        </ul>

        <ul class="social cf">
          <li><a href="/feed.xml" target="_blank"><i class="icon-rss-sign"></i></a>
          <li><a href="{{ site.twitter }}" target="_blank"><i class="icon-twitter"></i></a>
          <li><a href="{{ site.github }}" target="_blank"><i class="icon-github"></i></a>
        </ul>
      </header>

      <section>
        {{ content }}
      </section>
    </div>

    <!-- Don't load any JS for oldIE -->
    <!--[if gt IE 8]><!-->
    <script src="/js/scale.fix.js"></script>
    <script src="/js/prism.custom.js"></script>
    <script src="/js/zepto.min.js"></script>
    <script src="/js/jquery.fitvids.js"></script>
    <script>
      $('.post').fitVids();
    </script>
    <!--<![endif]-->
  </body>
</html>